body{
  padding: 0px, 100px, 0px, 0px;
  background-color: #333;
}

h2{

  font-size: 16px;
}

h3{

  font-size: 14px;
}

.account-deets{
  font-size: 16px;
  display: inline;

}

.white-text {
  color: white;
  margin-right:
}

.custom-nav {
  border-radius: 0;
  /* margin-bottom: 30px; */
  background-color: #777;
  /* border-bottom: 1px solid white; */
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: solid 1px white;
  border-right: solid 1px white;
}

#footer {
  position: absolute;
  align-self: center;
  bottom:auto;

  height: 50px;
  padding: 0;

}

.custom-radius{
  border-radius: 0;
  border: solid 1px white;
  margin-bottom: 0px;
}

.custom-footer{
  background-color: #777;

}

.footer-text {
  text-align: center;
  padding: 5px;
  color: white;
}

.nav-bttn{

  padding: 40px;
  border: 1px solid white;
  color: white;
  text-align: center;
  background-color: #333;
}

.nav-bttn:hover{
  background-color: #777;
  cursor: pointer;
}

/* .nav-col1{
  background-color: #999;
} */

#jobs-list {
  margin-top: 0px;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#employees-list {
  margin-top: 0px;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#resources-list{
  margin-top: 0px;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#expenses-list{
  margin-top: 0px;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

#history-list{
  margin-top: 0px;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
