body{
  padding: 0px, 40px, 0px, 0px;

}

.account-deets{
  font-size: 16px;
  display: inline;
  padding: 5px;
  margin: 10px;
}

.white-text {
  color: white;
}

.custom-nav {
  border-radius: 0;
}

#jobs-list {
  margin-top: 20px;
}
